:root {
    --title-text-color: #2E2F42;
    --primary-white-color: #FFFFFF;
    --primary-text-color: #434455;
    --accent-color: #4D5AE5;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    
}


button {
    font-family: inherit;
}

body {
    font-family: 'Roboto',sans-serif;
    background-color: #FFFFFF;
}

.container-hero {
width:  1152px;
margin-left: auto;
margin-right: auto;
padding: 24px 12px 24px 12px;
}

.container-header{
width:  1152px;
display: block;
margin-left: auto;
margin-right: auto;
display: flex;
align-items: center;
padding: 24px 12px 24px 12px;
}

.container-about{
width:  1152px;
display: block;
margin-left: auto;
margin-right: auto;
padding-left: 12px;
padding-right: 12px;
}
.container-works{
    width:  1152px;
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    }
.container-team{
width:  1152px;
display: block;
padding-left: 12px;
padding-right: 12px;
}
.container-footer{
width:  1152px;
display: block;
margin-left: auto;
margin-right: auto;
padding: 24px 12px 24px 12px;
}
.container-portfolio{
width:  1152px;
display: block;
margin-left: auto;
margin-right: auto;
padding-left: 12px;
padding-right: 12px;
padding-top: 120px;
padding-bottom: 120px;
}
.logo-studio {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.333;
    color: #2E2F42;

}

.logo-web {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.166;
    color: #F4F4FD; 
}

.web {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.166;
    
    color: #4D5AE5;
    
}

a {
    text-decoration: none;
}


.header-nav {
 display: flex;
 align-items: center;
 margin-left: 60px ;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--color-background);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16);
}
.header-list{
    display: flex;
    margin-left: 25px;
}

.header-list-add{
    display: flex;
    margin-left: 175px;
}
.header-list li:not(:last-child) {margin-right: 4px;}
.header-list-add li:not(:last-child) {margin-right: 40px;}

.header-list :hover
{
    color: #434455;
}
.header-link :active
{
    color: #4D5AE5;
}
.portfolio-link,
.portfolio-link-but,
.header-list,
.header-list-add,
.main-list-team,
.main-list-work,
.main-list { list-style-type: none;
}

.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #2E2F42;
cursor: pointer;
margin: 24px;

}

.header-link-one {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    
}

.header-link-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.hero {
    padding-top: 192px;
    padding-bottom: 192px;
    background-color: #2E2F42;
    text-align: center;
}

.main-title-s-one {
font-weight: 500;
font-size: 56px;
line-height: 1.071;
color: #FFFFFF;
text-align: center;}

.main-button {
/* Button */
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.187;
color: #FFFFFF;
cursor: pointer;
padding: 16px 32px;
margin-left: auto;
margin-right: auto;
}

.main-button:hover,
.main-button:focus{
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


.main-title-s-two {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: #2E2F42;}

.main-p-one {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #434455;}

.main-title-s-three {
font-weight: 500;
font-size: 36px;
line-height: 1.111;
color: #2E2F42;
padding-left:830px ;
}

.main-title-s-four {
font-weight: 500;
font-size: 36px;
line-height: 1.111;
color: #2E2F42;
padding-left: 890px;
}
.team{
    background-color: #F4F4FD;
    padding-top: 166px;
    padding-bottom: 146px;
}
.main-list {
display: flex;
margin-bottom: 120px;
}
.main-list-team{
display: flex;
margin-bottom: 120px;
text-align: center;
padding-left: 340px;
}
.main-list-work{
    display: flex;
    margin-right: 24px;
    padding-left: 360px;

}
.main-link{
margin: 24px;
}
.main-link-work{
margin: 24px;
}
.main-link-team{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
background-color: #FFFFFF;
margin: 24px;
}
.main-title-s-four-h-three {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: #2E2F42;
}
.main-p-two {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #434455;
}

.footer {
    background-color: #2E2F42;
    padding: 70px 150px;
    display: flex;
}


.footer-p {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: aliceblue;

}

.portfolio-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
    cursor: pointer;
padding: 8px 16px;
margin: 8px;

}

.portfolio-link{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list{
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
margin: auto
  
}
.portfolio-list-but {
    text-align: center;
}
button:hover { 
color: #FFFFFF;
background: #4D5AE5; }



.portfolio-tittle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: #2E2F42;
}
.portfolio-p {
font-weight: 400;
font-size: 16px;
line-height: 1.5;

color: #434455; 
}
