* {margin:0 ;padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
}
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    
    color: #2E2F42;
}

.web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    
    color: #4D5AE5;
    
}

.logo :hover {
    color: rgb(246, 10, 10);
}

.header-link :hover
{
    color: coral;
}
.header-link :active
{
    color: rgb(12, 12, 12);
}

.header-list
.main-list { list-style: none;
}
.header-link {
width: 48px;
height: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;

color: #2E2F42;
}

.header-link-1 {
    position: absolute;
    width: 153px;
    height: 24px;
    left: 940px;
    top: 24px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    letter-spacing: 0.02em;
    
    
    color: #434455;
}

.header-link-2 {
    position: absolute;
    width: 151px;
    height: 24px;
    left: 1133px;
    top: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.sec1 {
    background-color: #2E2F42;
}

.main-title-s1 {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 56px;
line-height: 60px;
color: #f2eaea;}

.main-button {

width: 106px;
height: 19px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #0f0e0e;}

.main-title-s2 {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;}

.main-p1 {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;}

.main-title-s3 {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 40px;

color: #2E2F42;
}
.main-link {
}

.main-title-s4 {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 40px;

color: #2E2F42;
}
.main-link {
}
.main-title-s4-h3 {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #2E2F42;
}
.main-p2 {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455;
}

.footer {
    background-color: #2E2F42;
}

.footer-p {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: aliceblue;
}

.portfolio-button {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

color: #4D5AE5;
}

.portfolio-tittle {
 font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #2E2F42;
}
.portfolio-p {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #434455; 
}